@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    //background: linear-gradient(to right bottom, #5889a0, #93a0d1, #00a1ba, #01b18e, #32b37b);
    background-image: linear-gradient(
      180deg,
      hsl(212deg 75% 69%) 0%,
      hsl(208deg 67% 67%) 9%,
      hsl(203deg 60% 66%) 18%,
      hsl(197deg 54% 65%) 27%,
      hsl(190deg 48% 63%) 36%,
      hsl(182deg 42% 61%) 45%,
      hsl(174deg 44% 61%) 55%,
      hsl(166deg 48% 62%) 64%,
      hsl(160deg 52% 62%) 73%,
      hsl(155deg 57% 63%) 82%,
      hsl(150deg 61% 63%) 91%,
      hsl(146deg 66% 63%) 100%
    );
    //background: #4a7fa3;
    //background-image: url("../public/bg.jpg");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

